#nav-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-menu li {
	float: left;
	margin: 0 0.15em;
}

#nav-menu li a {
	background: url(../images/css-nav.gif) #fff bottom left repeat-x;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 9em;
	display: block;
	border: 0.1em solid #dcdce9;
	color: #0d2474;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	font-family: fantasy;
	font-size: 0.9em;
}

/* Hide from IE5-Mac \*/
#nav-menu li a {
	float: none
}

/* End hide */
#nav-menu {
	width: 100em
}

.textStyle {
	color: #4F6B72;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}